.card {
  /* display: flex;
  /* flex-wrap: wrap; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-direction: column; */

  height: 125px;
  margin: auto !important;
}

FontAwesomeIcon {
  padding: 20px !important;
}

.head-section {
  margin-top: 20px !important;
  padding-left: 15px;
  padding-right: 15px;
}

.users {
  padding-top: 30px;
}

.user-name {
  font-size: 18px;
  font-weight: 600;
}

.user-email {
  font-size: 14px;
}

.is-link {
  border-radius: 50px !important;
  width: 120px !important;
  float: right;
  padding: 15px 25px !important;
}

/* @media screen and (min-width:1200px) {
  .App {
    padding-left: 50px;
  }
} */

.iconDetails {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.searchbox {
  width: 30% !important;
  margin-left: 51.5%;
}

/* @media screen and (min-width:800px) and (max-width:1200px) {
  .card {
    width: 360px;
  }
} */

.footerRight {
  position: absolute;
  right: 25px;
}

.column1 {
  float: left;
  width: 24% !important;
  padding: 10px;
}

.row1 {
  margin: 10px;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

.changePassword {
  color: blue;
  cursor: pointer;
}

.centered {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 49%;
  left: 49px;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 900px) and (max-width: 1420px) {
  .column1 {
    width: 33% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .column1 {
    width: 50% !important ;
  }
}

@media screen and (max-width: 767px) {
  .column1 {
    width: 100% !important;
    display: block;
    margin-bottom: 20px;
    margin: auto !important;
  }

  .App {
    padding: 0px;
  }

  .searchbox {
    width: 62% !important;
    margin: 0%;
  }
}

@media screen and (max-width: 400px) {
  .searchbox {
    margin: 0;
  }
}
